.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1e293b;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.nav-links {
    list-style: none;      /* remove bullets */
    display: flex;         /* horizontal links */
    gap: 25px;             /* space between links */
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.nav-links li a:hover {
    color: #38bdf8;
}